@charset "utf-8"; 


body {
    font-size: 16px;
}

.header {
    background-color: darkslategray;
    height: 80px;
}

.header .logo {
    width: 250px;
    height: 80px;
    background-color: blue;
}

.right {
    float: right;
    background-color: grey;
    width: 30%;
    height: 100%;
}

.right nav ul li{
    display: inline-block;
}

.right .cta_buddy {
    display: inline-block;
    float: right;
}

.bg {
    text-align: center;
    height: 700px;
    background-color: red;
}

.bg_search {
    background-color: darkgrey;
}

.annonces {
    background-color: cornflowerblue;
    height: 200px;
}

.ad {
    background-color: blue;
}

.footer {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    background-color: seagreen;
    width: 100%;
    height: 60px;
}

.footer a {
    color: #fff;
}